.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.footer-left, .footer-right{
    height: 50vh;
}

.footer-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4E5253;
}

.footer-right{
    width: 40%;
    background-color: #434748;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

.footer-social a:nth-child(n+2){
    margin-left: 5px;
}

.contact-info{
    margin-top: 50px;
    width: 80%;
    height: auto;
    display: flex;
    color: #fff;
    font-size: 14px;
}

.email{
    color: #B0CECE;
    text-decoration: underline;
}

.info-contact p:nth-child(n+2){
    margin-top: 5px;
}

.info-location p:nth-child(n+2){
    margin-top: 5px;
}

.info-contact span{
    color: #B0CECE;
    text-decoration: underline;
}

.info-location{
    margin-left: 100px;
}

.copyrigth{
    margin-top: 50px;
    width: 80%;
}

.copyrigth p{
    color: #fff;
    margin-top: 30px;
    font-size: 12px;
}

.footer-logo{
    width: 30%;
}

.footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-trick{
    width: 80%;
    margin-bottom: 50px;
}

.footer-social{
    display: flex;
    align-items: center;
}

.footer-social p{
    margin-right: 10px;
    font-size: 12px;
}

.mylogo{
    margin-top: 20px;
    font-size: 12px;
}