.miniNav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}

.miniNav ul{
    margin-top: 20px;
    width: 80%;
    display: flex;
}

.miniNav li{
    list-style: none;
    color: #CFF1F0;
    font-size: 15px;
    cursor: pointer;
}

.miniNav li:hover{
    color: #7eb1af;
}

.miniNav li:nth-child(n+2){
    margin-left: 20px;
}

